.button {
	-fx-background-color: transparent;
	-fx-background-image: url('Ressources/avatar4.png');
    -fx-text-fill: black;
}

.button:hover{
	-fx-background-color: transparent;
	-fx-text-fill: black;
        -fx-scale-y:1.25;
        -fx-scale-x:1.25;
}